:root {
  --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.checkBox input[type='checkbox'] {
  width: 20px;
  height: 20px;
}
.checkBox input[type='checkbox']:hover {
  cursor: pointer;
}
.checkBox {
  font-weight: 700;
  font-family: var(--font-family);
  text-align: center;
}

.checkBox-small input[type='checkbox'] {
  width: 16px;
  height: 16px;
}

.checkBox-medium input[type='checkbox'] {
  width: 24px;
  height: 24px;
}

.checkBox-large input[type='checkbox'] {
  width: 32px;
  height: 32px;
}

.disabled {
  color: rgba(128, 128, 128, 0.909);
}
