.defButton {
  width: 90px;
  height: 30px;
  color: rgb(208, 208, 211);
  background: rgb(62, 145, 205);
  border: none;
  border-radius: 5px;
}
.small {
  width: 90px;
  height: 30px;
}
.large {
  width: 150px;
  height: 70px;
}
.medium {
  width: 120px;
  height: 50px;
}
.text {
  background: none;
  border: none;
  color: rgb(9, 135, 225);
}
.contained {
  background: none;
  border: 2px solid;
  color: rgb(9, 135, 225);
}
.outlined {
  background: rgb(9, 135, 225);
  border: 1px solid rgb(9, 135, 225);
}
