:root {
  --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --font-weight: 700;
  --base-font-size: 16px;
  --button-color: rgb(9, 135, 225);
  --small-font-size: 12px;
  --error-color: red;
}

.textfield {
  font-family: var(--font-family);
}

.textfield-label {
  font-weight: 300;
  font-size: var(--small-font-size);
  position: absolute;
  top: 5px;
  left: 25px;
  background-color: white;
  padding: 5px;
  transition: transform 4s ease-in-out 1s;
}

.textfield-label.standart.active {
  top: -6px;
  left: 8px;
  
}

.textfield-label.outlined.active {
  color: var(--button-color);
}

.textfield-label.standart {
  position: absolute;
  left: 11px;
  background: transparent;
}

.textfield-label.filled {
  position: absolute;
  top: 12px;
  background: transparent;
}

.textfield:focus {
  color: var(--button-color);
}

.textfield-input {
  padding: 8px 12px;
  font-size: var(--base-font-size);
  outline: none;
  border-radius: 4px;
  height: 30px;
}

.textfield-input:hover{
  cursor: pointer;
  
}

.textfield-helper {
  margin-top: 4px;
  font-size: var(--small-font-size);
  color: #6e6e6e;
}
.textfield-helper.outlined,
.textfield-helper.filled {
  margin-top: 4px;
  font-size: var(--small-font-size);
  color: #6e6e6e;
  margin-left: 12px;
}

.textfield-input.standart {
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid black;
}

.textfield-input.filled {
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid black;
  background: rgba(176, 176, 176, 0.146);
  border-radius: 3px;
  padding: 18px 12px 3px;
}

.textfield-input.standart:focus,
.textfield-input.filled:focus {
  border: none;
  border-radius: 0px;
  border-bottom: 2px solid var(--button-color);
}

.textfield-input.outlined {
  border-radius: 3px;
  border: 1px solid black;
  border-radius: 3px;
}

.textfield-input.outlined:focus {
  border: 2px solid var(--button-color);
  transition: ease 0.2s;
}

.textfield:focus {
  color: var(--button-color);
}
.textfield.error,
.textfield-input.outlined.error,
.textfield-input.filled.error {
  color: var(--error-color);
  border-color: var(--error-color);
}

.textfield-input.standard.error {
  border: none;
  border-bottom: 1px solid var(--error-color);
  border-radius: 0px;
}
.textfield-error {
  margin-top: 4px;
  margin-left: 12px;
  font-size:var(--small-font-size);
  font-family: var(--font-family);
}
